/*----------------------------font-style---------------------*/

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

/* -------------------------------shared-style------------------- */
body {
  max-width: 1600px;
  background-color: #f1f1f3;
}

.green-c {
  color: #006a50;
}
.dark-3 {
  color: #757575;
}
.backg-c {
  background-color: #c6e4d6;
}
.para {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.green-btn {
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 13px 26px;
  background-color: #006a50;
  border-radius: 08px;
  border: none;
  margin: 32px 0px 0px 0px;
}
/*-----------------------------header style--------------------*/

header {
  padding: 24px 160px;
  /* margin: 0px 160px 0 160px;  */
  display: flex;
  justify-content: space-between;
  /* width: 1600px; */
  margin: auto;
}
header h3 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
}
.nav-btn {
  font-size: 18px;
  font-weight: 600px;
  color: #006a50;
  width: 116px;
  height: 52px;
  border: 1px solid #006a50;
  border-radius: 10px;
  background-color: #f5f5f5;
}

/* --------------------------------------banner-style------------------------------------- */
.banner-container {
  display: flex;
  justify-content: space-between;
  background-color: #c6e4d6;
  height: 560px;
  /* width: 1280px; */
  border-radius: 10px;
  margin-left: 160px;
  margin-right: 160px;
  padding: 100px 50px 50px 50px;
  /* margin: auto; */
}
.banner h3 {
  font-size: 24px;
  font-weight: 500;
  color: #757575;
}
.banner h1 {
  font-size: 56px;
  font-weight: bold;
}
.banner-btn {
  font-size: 18px;
  font-weight: bold;
  /* width: 270px; */
  /* height: 56px; */
  padding: 17px 34px;
  color: white;
  background-color: #006a50;
  border-radius: 10px;
  border: none;
}
/* -------------------------vision-future style----------------------------------- */
.vision {
  margin: 80px 160px 0px 160px;
}
.vision h1 {
  font-size: 40px;
  font-weight: bold;
}
.vision p {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  margin: 15px 0 32px 0px;
}
.vision h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 px 0px 0px;
}
.card-box {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.card-a {
  background-color: #81b4fc;
  border-radius: 20px;
  border: none;
  padding: 30px;
}
.card-b {
  border-radius: 20px;
  border: none;
  background-color: #c6e4d6;
  padding: 30px;
}
.card-c {
  border-radius: 20px;
  border: none;
  padding: 30px;
  background-color: #f7ebcf;
}
.card-a-btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #5490f5;
  border-radius: 8px;
  border: none;
  /* height: 41px ; */
  /* width: 122px; */
  padding: 11px 20px;
}
.card-b-btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 08px;
  border: none;
  padding: 11px 20px;
  background-color: #09a15c;
}

.card-c-btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 08px;
  border: none;
  padding: 11px 20px;
  background-color: #ffc239;
}

/* ----------------------------dr-yunus-style here------------------- */

.dr-yunus {
  margin: 32px 160px 0px 160px;
  background-color: white;
  padding: 20px;
  /* background-image: url(./assets/quote-bg.png); */
  /* background-repeat: no-repeat; */
  border-radius: 20px;
}

.dr-quate {
  background-image: url(./assets/quote-bg.png);
  background-repeat: no-repeat;
  padding-top: 20px;
}
.dr-yunus h3 {
  font: size 20px;
  font-weight: 600;
}

    /* --------------------------------Recent-News-style-------------------------------------- */

.news{
  margin:80px 160px 0 160px ;
}
.news h1{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin: 0px;
  padding: 0px;
}
.news-title{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
  margin: 0px 0px 10px 0px;
}
.news-card-a{
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}
.img-satelite img {
  border-radius: 20px;

}
.news-date{
  font-size: 16;
  font-weight: 400;
  color: #757575;
 
  margin: 0px;
  padding: 10px 0px;
}

/* ---------------------------------news-card-b------------------------ */
.news-card-b{
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  margin:24px 0px 0px 0px;
}
.news-card-c{
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  margin: 24px 0px 0px 0px;
}

  /* ------------------------- donate bd-style---------------------------------- */

.donate-bd{
  margin:80px 160px 0px 160px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding:0px 105px ;
}
.donate-title{
  font-size: 40px;
  font-weight: bold;
  margin: 0px;

}

.donat-sub-title{
  margin: 0px;
}
.amount-card-box{
  display: flex;
  gap: 24px;

}
.amount-card{
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 40px;
}
.amount-card-d{
  font-size: 40px;
  font-weight: bold;
  background-color:#C6E4D6;
  border: none;
  border-radius: 10px;
  padding: 40px;}

.other-amount input{
  height: 64px;
  border: none;
  width:1032px;
  text-align: center;

}

.donate-btn{ font-size: 18px;
font-weight: 600;
color: white;
padding: 13px 26px;
background-color: #006A50;
border-radius: 08px;
border: none;
}
/* ----------------------------- newsletter-style---------------------  */

.subscribe{
margin: 80px 160px 0px 160px;
padding: 80px 100px;
/* height: 395px; */
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
}
.subscribe h3{
font-size: 40px;
font-weight: bold;
color: #0E0E0E;
}

.email-btn{
display: flex;
}
.email-btn input{
padding: 18px 40px;
border: none;
/* height:px; */
width: 600px;
margin-right: 0px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.email-btn button{
font-size: 18px;
font-weight: 600;
padding: 17px 34px;
color: white;
background-color: #006A50;
border: none;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
margin: 0px;
height: 55px;

}